.userContainer {
    background-color: rgba(0, 0, 0, 0.888);
    color: white;
}
.userNavbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 12vh;
    align-items: center;
    padding: 0px 15px;
}
.userNavbar img {
    width: 150px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
}
.userNavbar button {
    color: white;
    background-color: black;
}
.userNavbar button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
}
.userBody {
    display: flex;
}
.sideNav {
    width: 250px;
    height: 88vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.847);
}
.sideNav span {
    font-size: 0.9rem;
    font-weight: 600;
}
.sideNav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.sideNav button {
    display: flex;
    align-items: center;
    margin: 20px 15px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
}
.logoutPopup {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100px;
    box-shadow: 5px 5px 6px #ccc;
    border-radius: 10px;
    padding: 20px;
}
.logoutPopup button {
    background-color: gainsboro;
    width: 100px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border: 0;
    cursor: pointer;
}
.searchBox {
    display: flex;
    margin: 10px;
}
.searchBox input {
    padding: 15px 90px 15px 10px;
    width: 300px;
    margin-right: 20px;
}
.searchBox button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.877);
    cursor: pointer;
}