<div class="homeContainer">
    <div class="navBar">
        <a routerLink="/"><img src="../../../assets/logo.jpg" alt="Spotify logo" /></a>
        <ul class="menuBar">
            <li><a [routerLink]="['/not']" routerLinkActive="router-link-active">Premium</a></li>
            <li><a [routerLink]="['/not']" routerLinkActive="router-link-active">Support</a></li>
            <li><a [routerLink]="['/not']" routerLinkActive="router-link-active">Download</a></li>
            <li><a>|</a></li>
            <li><a routerLink="/signup">Sign up</a></li>
            <li><a routerLink="/login">Log in</a></li>
        </ul>
    </div>

    <div class="spotifyBody">
        <h1>Listening is everything</h1>
        <p>Millions of songs and podcasts. No credit card needed.</p>
        <div class="getSpotify">
            <a routerLink="/signup">GET SPOTIFY FREE</a>
        </div>
    </div>

    <div class="footer">
        <div class="linksSection">
            <a routerLink="/"><img src="../../../assets/logo.jpg" alt="Spotify logo" /></a>
            <ul class="company">
                <li>COMPANY</li>
                <li>About</li>
                <li>Jobs</li>
                <li>For the record</li>
            </ul>
            <ul class="communities">
                <li>COMMUNITIES</li>
                <li>For Artists</li>
                <li>Developers</li>
                <li>Advertising</li>
                <li>Investors</li>
                <li>Vendors</li>
            </ul>
            <ul class="useful">
                <li>USEFUL LINKS</li>
                <li>Support</li>
                <li>Web Player</li>
                <li>Free Mobile App</li>
                <li>Car Thing</li>
            </ul>
            <ul class="smicons">
                <img src="../../../assets/insta.PNG" alt="instagram" />
                <img src="../../../assets/twitter.PNG" alt="twitter" />
                <img src="../../../assets/fb.PNG" alt="facebook" />
            </ul>
        </div>
        <div class="copyrightSection">
            <ul class="privacy">
                <li>Legal</li>
                <li>Privacy Center</li>
                <li>Privacy Policy</li>
                <li>Cookies</li>
                <li>About Ads</li>
                <li>Additional CA Privacy Disclousers</li>
            </ul>
            <p>@Copy; 2022 Spotify AB</p>
        </div>
    </div>
</div>