/* Popup box */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 6px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popupMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 450px;
    min-height: 100px;
    border-radius: 10px;
    padding: 20px 20px;
}
.popupMsg p,
.popupMsg span {
    word-wrap:break-word; 
    display:inline-block;
    width: 350px;
}
.popupMsg span {
    margin: 10px;
}