<div class="resetContainer">
    <a routerLink="/"><img src="../../../../assets/logo.jpg" alt="Spotify logo" /></a>
    <form class="resetForm" [formGroup]="resetForm" (ngSubmit)="onReset()">
        <label for="Email">Email address</label>
        <input type="email" name="email" formControlName="email" id="Email" placeholder="Email address."
            class="inputBox" />
        <span *ngIf="resetForm.get('email').touched && resetForm.get('email').invalid">
            Please, enter a valid emial.
        </span>

        <label for="Token">Reset token</label>
        <input type="string" name="token" id="Token" formControlName="token" placeholder="Reset token."
            class="inputBox" />
        <span *ngIf="resetForm.get('token').touched && resetForm.get('token').invalid">
            Please, enter a valid token.
        </span>

        <label for="password">Create a password</label>
        <input type="password" name="password" formControlName="password" placeholder="Create a password."
            class="inputBox" />
        <span *ngIf="resetForm.get('password').touched && resetForm.get('password').invalid">
            Password length should be minimum 6 characters.
        </span>

        <label for="confirmPwd">Confirm your password</label>
        <input type="password" name="confirmPwd" formControlName="confirmPwd" placeholder="Confirm your password."
            class="inputBox" />
        <span *ngIf="resetForm.get('confirmPwd').touched && resetForm.get('confirmPwd').invalid">
            Password length should be minimum 6 characters.
        </span>
        <span
            *ngIf="resetForm.get('confirmPwd').touched && resetForm.get('password').value !== resetForm.get('confirmPwd').value">
            Passwords does not match.
        </span>

        <button type="submit" id="resetBtn" [disabled]="!resetForm.valid 
        || resetForm.get('password').value !== resetForm.get('confirmPwd').value">Reset</button>
    </form>
</div>