<div class="resetContainer">
    <a routerLink="/"><img src="../../../../assets/logo.jpg" alt="Spotify logo" /></a>
    <form class="resetForm">
        <label for="Email">Email address</label>
        <input type="email" name="email" id="Email" placeholder="Email address." class="inputBox" />

        <label for="Token">Verification token</label>
        <input type="string" name="token" id="Token" placeholder="Verification token." class="inputBox" />

        <label for="password">Create a password</label>
        <input type="password" name="password" placeholder="Create a password." class="inputBox" />

        <label for="password">Confirm your password</label>
        <input type="password" name="password" placeholder="Confirm your password." class="inputBox" />

        <button type="submit" id="resetBtn">Reset</button>
    </form>
</div>